*.txt
!requirements_Linux.txt
!requirements_MacOS.txt
*.csv
*.docx
*.zip
*.dat
*.png
*.RT-H5
.RData
.Rhistory
.DS_Store
**/.ipynb_checkpoints
**/MODELS*
**/OUTPUT*
**/IMERG
**/IMERG_CSV
pyvenv.cfg
.python-version
**/bin
**/include
**/lib
**/lib64
**/share
**/etc
test.py
