*.txt
!requirements.txt
*.csv
*.docx
*.zip
*.dat
*.png
*.RT-H5
.RData
.Rhistory
.DS_Store
**/.ipynb_checkpoints
**/MODELS*
**/OUTPUT*
**/IMERG
**/IMERG_CSV
pyvenv.cfg
**/bin
**/include
**/lib
**/share
**/etc
test.py
